In [1]:
print(3 +5)

8

In [2]:
print("hello")
print("hello2")
print("hello3")

hello
hello2
hello3

In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\USER\AppData\Local\Temp\ipykernel_15564\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
print(3 + 5) # 행 단위 명령

8

In [5]:
print(3 + 5); print("hello")

8
hello

In [6]:
print(3+5)
print("hello")

8
hello

In [7]:
print(3 + 5);

8

In [14]:
# 자료형
# 리터널 : 자연어 :  한글, 영어, 중국어, 일본어,...
#                   문자 리터널 : a, 김,...
#                   문자열 리터널 : ab , 이숭무
#          자연수 : 숫자 : 정수 리터널 : 10, 1, 4
#                         실수 리터널 : 10.5, 0.5
print(3) 
print(10.5)

#변수 = 리터널(값)
# 변수란 ? 리터널을 저장하기 위해서 사용한다.
a = 3 #  a : 정수리터널 변수 : 정수 변수
print(a)
a = 10 # 먼저 있던 값은 사라지고 마지막 값만 저장한다.
print(a)
# 변수의 특징 : 오직 하나의 값만 저장한다.
# 파이썬 변수의 특징
b = 10 # 정수 변수
print(b)
b = 10.5 # 실수 변수 
print(b) # 파이썬은 변수의 성격을 바꿀 수 있다. (javascript)

a = 10
b = a
print(b)

3
10.5
3
10
10
10.5
10

In [17]:
### 숫자 연산자 , + , - , * , /
print( 10 + 2)
a = 10 
b = 2
print(a + b)
print( 10 / 3 )
a = 10
b = 3
print( a / b )

12
12
3.3333333333333335
3.3333333333333335

In [20]:
a = int(input("숫자를 입력하세요"))
b = int(input("숫자를 입력하세요"))
print(a / b)

숫자를 입력하세요5
숫자를 입력하세요2
2.5

In [23]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
#### 나머지 : 10을 3으로 나눈 나머지는 1
print(a % b)
## 몫 : 10 을 3으로 나눈 몫은 : 3
print(a // b)
## 제곱승 : 10의 3승 : 100
print(a ** b)
# 숫자의 연산자는 + , -, * , / , % , // , **

13
7
30
3.3333333333333335
1
3
1000

In [27]:
# 문자(문자열) 리터널 : 한국어 , 일본어 , 영어 
#                   : 'a', '김', 'ab', '임숭'
#변수 = 리터널
i = 'x'
a = 3 
#변수 = 리터널값을 가진 변수
b = a
이숭무1 = '이'
print(이숭무1) # print, str: 예약어
# 문자열 : string : str
str1 =  "이숭무"
print(str1)
str1 ='이숭무'
print(str1)

이
이숭무
이숭무

In [33]:
print(10) # 정수 리터널
print("10") # 문자리터널
print('10') # 문자 리터널
print( 10 + 10 )
print("10" + "10")
### 문자에서의 +연산자는 붙이기 연산자
#print("10"+ 10) # 문자와 숫자는 연산할 수 없다.
print("10"+str(10))
print(int("10")+ 10)

10
10
10
20
1010
1010
20

In [35]:
# 문자 리터널 : 'a' , 'ab', "김", "이숭무", a(변수), 이(변수)
#              "010"
a = "010"
print(a)

010

In [40]:
a = "python"
b = "is"
c = "fun"
print(a + b + c)
print(a + " "+ b+ " " + c)
print("==" * 30) # *는 반복 연산자
print("      제목     ")
print("==" * 30)

pythonisfun
python is fun
============================================================
      제목
============================================================

In [49]:
print("이숭무")
print('이숭무')
print("Life's short,  You need python")
print('Life is short,  "You need python" ')
print('Life\'s short,  You need python') # escape
print("Life is short,  \"You need python\"")
print("tn")
print("\tn")
print("t\na")

이숭무
이숭무
Life's short,  You need python
Life is short,  "You need python"
Life's short,  You need python
Life is short,  "You need python"
tn
	n
t
a

In [53]:
print("Life's short, \nYou need python")
print("""Life's short, 
You need python""")
print('''Life\'s short, 
You need python''')
# 문자열 리터널 : "a", 'a', """a""", '''a'''

Life's short,
You need python
Life's short,
You need python
Life's short,
You need python

In [60]:
str = "1000"
print(str)
print("10" + str(10))

1000

TypeError: 'str' object is not callable

In [61]:
del str

In [62]:
print("10" + str(10))

1010

In [69]:
# indexing
str1 = "Life is too Short"
#       01234567890123456    : index
#                 1
# 문자열에서 각 문자가 가지고 있는 번호를 index라고 한다.
print(str1)
print(str1[3])
print(str1[0])
print(str1[16])
print(len(str1))
print(str1[len(str1) -1])
str2 = "Life is short,  You need python"
print(str2[len(str2) -1])

Life is too Short
e
L
t
17
t
n

In [72]:
str1 = "Life is too short"
#       01234567890123456    : index
#                 1
print(str1[12])
print("Life is too short"[12])

s
s

In [79]:
str1 = "Life is too short"
#       01234567890123456    : index
#                 1
#     - 76543210987654321
#              1
print(str1[0])
print(str1[-17])
print(str1[ - len(str1)]) # str1[-17]
print(str1[16])
print(str1[-1])
print("Life") # index를 Life
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0] + str1[1] + str1[2] + str1[3])

L
L
L
t
t
Life
L
i
f
e
Life

In [92]:
#slicing
str1 = "Life is too short"
#       01234567890123456    : index
#                 1
#     - 76543210987654321
#              1
print(str1[0] + str1[1] + str1[2] + str1[3])
print(str1[0: 0 + 4])
print(str1[0:4]) # 0부터 4전까지 가지고 오기
print(str1[0:3]) # 0부터 3전까지 가지고 오기
print(str1[8:8+3])
print(str1[8:10+1])

print(str1[-9:-9+3])
print(str1[-9:-6])
print(str1[12:12+5])
print(str1[-12:-12+6])

idx = 2
cnt = 5
print(str1[idx:idx+cnt])

# too
print(str1[8 : 11])
print(str1[8 : -6])
print(str1[-9 : 11]) #index는 문자가 가지고 있는 고유의 번호
print(str1[-9 : -6])

Life
Life
Life
Lif
too
too
too
too
short
is too
fe is
too
too
too

In [103]:
str1 = "Life is too short"
#       01234567890123456    : index
#                 1
#     - 76543210987654321
#              1
"Life"
print(str1[0:4])
print(str1[:4])
"short"
print(str1[12:17])
print(str1[12:len(str1)])
print(str1[12:])
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
###  0123456789012
##             1
##  -3210987654321
#       1
print(a[:8])
print(a[8:])
print(a[-5:])
# print(a[-5:0]) : x
print(a[-5:len(a)])
###년 , 월 , 일
print(a[:4])
print(a[4:6])
print(a[6:8])
print(a[:4]+"년 ,"+a[4:6]+"월 ,"+a[6:8]+"일")

Life
Life
short
short
short
20010331
Rainy
Rainy
Rainy
2001
03
31
2001년 ,03월 ,31일

In [160]:
str1 = "Life is too short"
#       01234567890123456    : index
#                 1
#     - 76543210987654321
#              1
# 한 글자씩 건너띄어서
print(str1)
print(str1[:])
print(str1[::2])
# 두 글자씩 건너띄어서
print(str1[::3])
# 뒤에서 부터 앞으로 
print(str1[::-1])
"fe is too sh"
#2          13
print(str1[2:14])
print(str1[2:14:2])
#print(str1[2:14:-1]) : 잘 못된 예
print(str1[13:1:-1])

Life is too short
Life is too short
Lf stosot
Lesosr
trohs oot si efiL
fe is too sh
f stos
hs oot si ef

In [114]:
str1 = "pithon"
print(str1[1])
#str1[1] = 'y' # 문자열은 index를 이용해서 변경할 수 없다.
#print(str1)
print(str1[0]+"y"+str1[2:])
# indexing, slicing

i
python

In [124]:
# 문자열 표현하기 : 포맷문자 포매팅
'나의 이름은 이숭무이고 나이는 30입니다.'
name = '이숭무'
age = 30
str2  = '나의 이름은 '+name+'이고 나이는 '+str(age)+'입니다.'
str2 = '나의 이름은 %s이고 나이는 %d입니다.' % (name,age)
print(str2)
print('나의 이름은 %s이고 나이는 %d입니다.' % (name,age))
'나의 이름은 이숭무입니다.'
str2 = '나의 이름은 %s입니다.' % name
print(str2)
str2 = '나의 이름은 %s이고 나이는 %d입니다.' % ('이숭무',age)
print(str2)

나의 이름은 이숭무이고 나이는 30입니다.
나의 이름은 이숭무이고 나이는 30입니다.
나의 이름은 이숭무입니다.
나의 이름은 이숭무이고 나이는 30입니다.

In [132]:
### 이숭무의 계좌번호는 1111이고 잔액은 100입니다.
name = '이숭무'
account = '1111'
money = 100
str3 = '%s의 계좌번호는 %s잔액은 %d입니다.' \
       % (name , account, money)
print(str3)

이숭무의 계좌번호는 1111잔액은 100입니다.

In [143]:
"이숭무의 나이는 25살이고 키는 175.3입니다"
name = '이숭무'
age = 25
height = 175.3
str3 = "%s의 나이는 %d살이고 키는 %f입니다" % \
        (name, age, height)
print(str3)
str3 = "%s의 나이는 %d살이고 키는 %5.1f입니다" % \
        (name, age, height)
print(str3)
str3 = "%s의 나이는 %d살이고 키는 %5.3f입니다" % \
        (name, age, height)
print(str3)
str3 = "%s의 나이는 %d살이고 키는 %.3f입니다" % \
        (name, age, height)
print(str3)
str3 = "%s의 나이는 %d살이고 키는 %20.3f입니다" % \
        (name, age, height)
print(str3)
str3 = "%10s의 나이는 %10d살이고 키는 %20.3f입니다" % \
        (name, age, height)
print(str3)
str3 = "%-10s의 나이는 %-10d살이고 키는 %20.3f입니다" % \
        (name, age, height)
print(str3)
### 포맷문자
## %s : string , %d : decimal , %f : float , %c : character
str3 = "%s의 나이는 %s살이고 키는 %s입니다" % \
        (name, age, height)
print(str3)

이숭무의 나이는 25살이고 키는 175.300000입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.300입니다
이숭무의 나이는 25살이고 키는 175.300입니다
이숭무의 나이는 25살이고 키는              175.300입니다
       이숭무의 나이는         25살이고 키는              175.300입니다
이숭무       의 나이는 25        살이고 키는              175.300입니다
이숭무의 나이는 25살이고 키는 175.3입니다

In [165]:
# format 함수를 사용한 포매팅
# 문자 : "a" , 'a', '''a''', """a"""
# 정수 : 10
# 실수 : 0.5
# 변수 : a
# 함수 : a(), print(), int(), str(), len(), format()
# 이숭무님의 나이는 25살이고요 키는 175.3입니다
str3 = '{0}님의 나이는 {1}살이고요 키는 {2}입니다'\
        .format(name, age, height)
print(str3)
str3 = '{1}님의 나이는 {0}살이고요 키는 {2}입니다'\
        .format( age, name, height)
#                 0    1     2
print(str3)
# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
str3 = "{0}의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
        .format(name,age,height)
print(str3)
str3 = "{0}의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
        .format(name,25,height)
print(str3)

이숭무님의 나이는 25살이고요 키는 175.3입니다
이숭무님의 나이는 25살이고요 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [175]:
# 이름으로 넣기
print("오늘 먹은 사과는 모두 {0}개입니다.".format(3))
print("오늘 먹은 사과는 모두 {count}개입니다.".format(count=3))

str3 = "{0}의 나이는 {count}살이고요 {0}의 키는 {1}입니다"\
        .format(name,height,count=25)
print(str3)
str3 = "{0}의 나이는 {count}살이고요 {0}의 키는 {1}입니다"\
        .format(name,height,count=age)
#                 0    1      
print(str3)

#str3 = "{0}의 나이는 {count}살이고요 {0}의 키는 {1}입니다"\
#        .format(name,h=height,age)
#                 0          
#print(str3) # 이름이 중간에 있는 경우에는 사용할 수 없다.
str3 = "{0}의 나이는 {count}살이고요 {0}의 키는 {h}입니다"\
        .format(name,h=height,count=age)
#                 0        
print(str3)

오늘 먹은 사과는 모두 3개입니다.
오늘 먹은 사과는 모두 3개입니다.
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [176]:
# 문자열 표현식 : 포맷문자 포맷팅, format()함수 포맷팅
# f문자를 이용한 포맷팅
name = '이숭무'
age = 26
height = 175.3
# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
print(f"{name}의 나이는 {age}살이고요 이숭무의 키는 {height}입니다")

이숭무의 나이는 26살이고요 이숭무의 키는 175.3입니다

In [182]:
# 문자열 가공 : 문자열 함수
a = "hobby"
# 문자의 길이
print(len(a))
# 특정 문자의 갯수
# 문자 b가 몇개
print(a.count('b'))
print("hobby".count('b'))
print(str1)
# str1변수에서 'o' 문자기 몇개 있나요?
print(str1.count('o'))

5
2
2
Life is too short
3

In [196]:
str1 = 'Lite is too short'
#       01234567890123456 :index
#                 1
print(str1)
print(str1[8 : 8 + 3])
# too에서 t가 있는 위치
print(str1.index('too'))
idx = str1.index('too')
size = len('too')
print(str1[idx:idx+size])
#print(str1[str1.index('too'):str1.index('too')+len('too')])
print(str1.index('t'))
print(str1.index('too'))
print(str1.index('short')) # left
print(str1.rindex('t')) # right

print(str1.index('t',3))  # 8,

idx = str1.index('t')
print(str1.index('t', idx + 1))
# str1에서 too부터 모두
idx = str1.index('too')
print(str1[idx:])
print(str1[str1.index('too'):])
# 두번째 i부터 2글자
idx = str1.index('i')
idx = str1.index('i' , idx + 1)
print(str1[idx:idx+2])

Lite is too short
too
8
too
2
8
12
16
8
8
too short
too short
is

In [207]:
str1 = 'Lite is too short'
#       01234567890123456 :index
#                 1
print(str1.index('too'))
print(str1.find('too'))
print(str1.index('t', 3))
print(str1.find('t',3))
print(str1.rindex('t'))
print(str1.rfind('t'))
# find와 index차이점
print(str1.find('k')) # -1
print(str1.find('test')) # -1
# print(str1.index('k')) 오류

8
8
8
8
16
16
-1
-1

In [214]:
str1 = 'Life is too short'
# 대문자를 소문자로
print(str1.lower())
if str1.lower() == 'life is too short':
    print('모두 소문자')
# 소문자를 대문자 
print(str1.upper())
if str1.upper() == 'LIFE IS TOO SHORT':
    print('모두 대문자')

print(str1) # 함수를 사용해도 원 데이터는 변경되지 않는다.

life is too short
모두 소문자
LIFE IS TOO SHORT
모두 대문자
Life is too short

In [248]:
str3 = "       highland0     "
result = str3.strip() # ******
if result == 'highland0':
    print('같다')
print(str3)
print(result)

print("       highland0     ".strip())
str1 = " Life is too short  " # 중간에 있는 공백문자는 데이터이다
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())
str3 = "abhighland0ab"
print(str3.strip("ab"))
str3 = "abhighabland0ab"
print(str3.strip("ab"))
str3 = "  abhighland0ab  "
result1 = str3.strip()
result2 = result1.strip("ab")
print(result2)
print(str3.strip().strip("ab"))
str3 = "  ab  highland0  ab  "
print(str3.strip().strip("ab").strip())

같다
       highland0
highland0
highland0
Life is too short
Life is too short
 Life is too short
highland0
highabland0
highland0
highland0
highland0

In [229]:
# 대체
str1 = "Life is too short"
result = str1.replace('Life','Your leg')
print(result)
print(str1)
# 쪼개기 : split을 하면 결과는 리스트로 가지고 온다.
str1 = "Life is too short"
result = str1.split()
print(result)
str1 = "Life:is:too:short"
result = str1.split(":")
print(result)
# ['Life', 'is', 'too', 'short'] : 리스트

Your leg is too short
Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']