In [168]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 25pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 25pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_10576\627556072.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
# 리터널 : 자연어   : 
#             문자, 문자열 : 
#                 "A", 'a', """a""", '''a''', "10", '10', a:변수
#          자연수  : 정수 : 10, 20 ,3 
#                    실수 : 10.5 , 0.5
#          논리형  : 참 / 거짓
# 리스트 : [] : 하나의 값만 가지고 있는 것이 아닌 
#               여러개의 값을 가진 자료형
#               여러 유형의 데이터를 여러개 담을 수 있게 만든 것
#         [1,2,3,4] :  정수형리스트
#         [0.2,0.4] :  실수형 리스트
#         ["이숭무", "이장범"] : 문자열 리스트
#         [10, 0.4, "이숭무"] : 혼합형 리스트
a = 10;
print(a)
a = 20;
print(a)
str1 = "Life is to short"
l1 = str1.split() # split의 결과는 리스트이다.
print(l1)# ['Life', 'is', 'to', 'short']

10
20
['Life', 'is', 'to', 'short']

In [ ]:
l2 = [] #  빈 리스트
l3 = [1,2,3,4] # 정수형리스트
l4 = ["이숭무", "이상번"] # 문자열 리스트
l5 = [1,2,3,"이숭무", "이상범",0.5,10.5] # 혼합형 리스트
l6 = [[1,2,3,4], [3,4,5]] # 리스트를 포함한 리스트
l7 = [1,2,3,[4,5,6], "이숭무", 0.5] #리스트를 포함한 혼합형 리스트

In [16]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#     - 76543210987654321   : index
#              1
print(str1[3])
print(str1[-14]) # indexing
l = [1,2,3,4,5,6,7,8] # 리스트에 있는 각각의 값을 요소라고 한다.
#    0 1 2 3 4 5 6 7
#  - 8 7 6 5 4 3 2 1 : index
print(l[2]) # indexing
print(l[-6]) # indexing을 하면 요소가 가지고 있는 자료형으로 출력
print(l[3] + l[7]) # 4 + 8
l1 = str1.split()
print(l1)  # l1 = ['Life', 'is', 'too', 'short']
#                     0     1      2       3
print(l1[1])  # is
print(l1[0]+ " " +l1[1])
print(l1[0])  # l1[0] = "Life"
#                        0123
print(l1[0][1])
print("Life"[1])
l2 = ['Life', 'is', 'too', 'short', 3]
#       0       1      2      3     4
print(l2[0]+ l2[1])
#print(l2[0] + l2[4]) # 문자열 + 정수
print(l2[0] * l2[4]) # "Life" * 3

str3 = "Life is too short 3"
l3 = str3.split()
print(l3) # ['Life', 'is', 'too', 'short', '3']
print(l3[0] * int(l3[4]))

e
e
3
3
12
['Life', 'is', 'too', 'short']
is
Life is
Life
i
i
Lifeis
LifeLifeLife
['Life', 'is', 'too', 'short', '3']
LifeLifeLife

In [19]:
a = [1, 2, 3, 4, ['a', 'b', 'c']]
#    0  1  2  3         4
#                  0    1    2
#    5  4  3  2         1       -
#                   3    2    1  -       
print(a[4]) # ['a', 'b', 'c']
print(a[4][1])
print(a[-1]) # ['a', 'b', 'c']
print(a[-1][-2])
print(a[4][-2])
print(a[-1][1])

['a', 'b', 'c']
b
['a', 'b', 'c']
b

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
#    0  1             2
#            0    1          2
#                         0      1
# ['a', 'b', ['Life', 'is']]
print(a[2])
# ['Life', 'is']
print(a[2][2])
 # Life
print(a[2][2][0])
# i
print(a[2][2][0][1])

In [27]:
# slicing
str1 = "Life is too short"
#e i
print(str1[3:3+3])
l = [1,2,3,4,5,6,7]
#    0 1 2 3 4 5 6
print(l[2])
print(l[2:2+3])
print(l[1])  # 2
print(l[2])
print(l[1]+l[2]) # indexing : 정수 + 정수
print(l[1:1+1]) # [2] : 리스트로 출력
print(l[2:2+1]) # [3] : 리스트
print(l[1:1+1] + l[2:2+1] ) 
# [2, 3] # Slicing : 리스트와 리스트 연산
print(l[1:1+1] * 3 ) # +: 연결연산자, *:반복연산자.

e i
3
[3, 4, 5]
2
3
5
[2]
[3]
[2, 3]
[2, 2, 2]

In [31]:
c = ['Life', 'is', 'too', 'short'] 
### 'Life'를 ' Your leg'
print(c[0])
c[0] = 'Your leg'
print(c)
str1 = 'Life is too short'
str2 = str1.replace("Life", "your leg");
print(str2)

Life
['Your leg', 'is', 'too', 'short']
your leg is too short

In [37]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
#               0    1    2
# [3, ['a', 'b', 'c'], 4]를 출력
print(a[2: 2 + 3]) # [3, ['a', 'b', 'c'], 4]
#                     0         1         2
# ['a', 'b', 'c']를 출력
print(a[3])
print(a[2: 2 + 3][1])
# 'b'를 출력
print(a[3][1])
print(a[2: 2 + 3][1][1])
# 위 리스트를 이용해서 ['b', 'c','b', 'c','b', 'c','b', 'c'] 
# 가 출력되게 하시오
print(a[3][1:1+2] * a[4])
# 마지막 요소의 값을 출력하시오.
print(a[5])
print(a[len(a)-1])
str1 = "python"
print(len(str1))
print(len(a))

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
['a', 'b', 'c']
b
b
['b', 'c', 'b', 'c', 'b', 'c', 'b', 'c']
5
5
6
6

In [44]:
# 리스트 함수
### 리스트에 요소 추가 
# append()
l1 = ['Life','is']
# 요소 'is' 뒤에 'too'를 추가  ['Life','is','too']
l1.append("too")
print(l1)
# ['Life','is','too']에 short 를 추가
l1.append('short')
print(l1)
# ['Life','is','too', 3]
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
l1 = ['Life','short']
#       0       1
l1.insert(1,'is')
print(l1) # ['Life', 'is', 'short']
#              0      1      2 
# ['Life', 'is', 'too', 'short']
l1.insert(2,'too')
print(l1)  
a = [1,2,3]
# ['Life', 'is', 'too', 'short' , 1 , 2, 3]
l1.extend(a)
print(l1)

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 1, 2, 3]

In [46]:
int = 1;
print(int)
print(int("1"))

1

TypeError: 'int' object is not callable

In [47]:
del int

In [48]:
print(int("1"))

1

In [63]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#        0       1      2      3     4  5  6
# indexing을 이용해서 요소 삭제
del l1[4]
print(l1)
#slicing을 이용해서 삭제
print(l1[2:2+2])
del l1[2:2+2]
print(l1)  # ['Life', 'is', 2, 3]
#               0       1   2  3
print(l1[1:])
del l1[1:]
print(l1)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# 요소를 이용해서 삭제
# 'short'를 삭제
l1.remove('short')
print(l1)
l1.remove(1)
print(l1)
l1.remove('is')
print(l1)
result = l1.remove(2)
print(result)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
result = l1.pop(3) # index를 이용해서
print(result)
print(l1)
# 맨뒤에 있는 값을 가지고 나온 후 삭제
result = l1.pop() # 비 복원 추출
print(result)
print(l1)
# 주사위 : 복원 추출
# 비 복원 추출을 하는 프로그램 : 로또

['Life', 'is', 'too', 'short', 2, 3]
['too', 'short']
['Life', 'is', 2, 3]
['is', 2, 3]
['Life']
['Life', 'is', 'too', 1, 2, 3]
['Life', 'is', 'too', 2, 3]
['Life', 'too', 2, 3]
None
short
['Life', 'is', 'too', 1, 2, 3]
3
['Life', 'is', 'too', 1, 2]

In [68]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
#오름차순
l.sort()
print(l)
#내림차순
l.sort(reverse=True)
print(l)
l = [4,2,5,1,3]
l.reverse()
print(l)
l = ['b','a','c']
l.sort()
print(l)
#l = ['b','a','c',3, 1,2]
#l.sort()
# 문자열과 숫자가 혼합된 리스트를 정렬 (x):

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]
['a', 'b', 'c']

TypeError: '<' not supported between instances of 'int' and 'str'

In [137]:
'''
리터널 자료형: 숫자자료형 : 정수 : 10,  5
                          실수 : 10.5 , 5.2
             문자열자료형 : "a", 'a',"""a""", '''''' ,'10', '10.5'             
리스트 자료형 : [], [1], [10.5], ['a'] , [1,2,'a'], [[1],2,(1,2)]
튜플   자료형 : (), (1,), (10.5,), ('a',) , (1,2,'a'), ([1],2,(1,2))
'''
print([1])
print((1 + 2) * 4)
print((1))
t = (1) # 최우선 연산자
print(t)
t = (1,)
print(t)
t = (1,2) # 정수형 튜플
print(t)
t = ('a','b')#문자열 튜플
t= ('a','b',1,2,3) #혼합형튜플
t= ('a','b',(1,2,3)) #튜플을 포함한 튜플
t= ('a','b',(1,2,3),[1,2,3], 1,2,3) #리스트와 튜플을 포함한 튜플
t = 1,2,3,4,5,6
pint(t)

[1]
12
1
1
(1,)
(1, 2)
(1, 2, 3, 4, 5, 6)

In [92]:
l = [1,2,3,4,3] # indexing, slicing을 할 수 있다
t = (1,2,3,4,3)
print(l[0])
print(t[0])
print(l[2:])
print(t[2:])
print(l[1:1+1]) # 리스트
print(t[1:1+1]) # 튜플
# print(l[1:1+1] + 10)
print(l[1:1+1] + [10])
# print(t[1:1+1] + 10) 
print(t[1:1+1] + (10,)) 
print(l[:4])
print(t[:4])
# 리스트 l에서 3이 있는 위치(index)를 출력
print(l.index(3)) # 2
# print(l.rindex(3)) :  리스트에서는
print(l.index(3, 3))
print(l.index(3, l.index(3) + 1))

print(t.index(3)) # 2
print(t.index(3, 3))
print(t.index(3, t.index(3) + 1))
# print(l.find(3))

print(l.count(3))
print(t.count(3))

print(len(l))
print(len(t))

1
1
[3, 4]
(3, 4, 3)
[2]
(2,)
[2, 10]
(2, 10)
[1, 2, 3, 4]
(1, 2, 3, 4)
2

ValueError: 3 is not in list

In [91]:
# 리스트와 튜플의 차이점
l = [1,2,3,4]
t = (1,2,3,4) #  요소가 변경 되지 않는다.
print(l[1])
l[1] = 10
print(l)
print(t[1])
#t[1] = 10 # 값을 변경 할 수 없다.
del l[1]
print(l)
# del t[1]

2
[1, 10, 3, 4]
2
[1, 3, 4]

In [96]:
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
t1 = tuple(l)
print(t1)
l1 = list(t)
print(l1)
a = "10"
i = int(a)
print(i)
f = float(a)
print(f)
i = 10
s = str(i)
print(s)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']

In [104]:
l = ['Life', 'is', 'too', 'short' ]
str1 = str(l)
print(str1)
str1 = "".join(l) #리스트를 문자열로 변경할 때
print(str1)
str1 = " ".join(l)
print(str1)
t = ('Life', 'is', 'too', 'short' )
str1 = str(t)
print(str1)
str1 = "".join(t)
print(str1)
str1 = " ".join(t)
print(str1)
str1 = ":".join(t)
print(str1)
str2 ="hello"
result = ",".join(str2)
print(result)

['Life', 'is', 'too', 'short']
Lifeistooshort
Life is too short
('Life', 'is', 'too', 'short')
Lifeistooshort
Life is too short
Life:is:too:short
h,e,l,l,o

In [112]:
# 리터널 자료형 : 정수, 실수, 문자열:"" '', 부울
# 리스트 자료형 : [] ,[1]
# 튜플 자료형 : (), (1,), (1,2,3)
# 딕셔너리(사전) :{}, {key_1:value_1,..., key_n:value_n}
                #자바스크립트 : json , 자바 : map<key, value>
dic = {}
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
print(dic1['name'])
l = [1,2,3,4]
print(l[2])
t = (1,2,3,4)
print(t[2])
print(dic1['age'])
d2 = {2:'이숭무', 0:'이상범', 1:'이장범'}
#        0           1          2  
#딕셔너리는 index를 사용하지 않는다.키와 index가 중복 될 수 있어서
print(d2[2])# 값을 key를 이용해서 가지고 온다.
print(l[0])
l[0] = 10 # index를 이용해서 값을 변경
print(l)
dic1['age'] = 40
print(dic1) #키를 이용해서 값을 변경할 수 있다.
#l[4] = 10 # IndexError: list assignment index out of range
dic1['addr'] = '성남'
print(dic1)
# 키가 있는 경우 값을 변경하고 키가 없는 경우 요소를 추가
# 키의 중복을 허용하지 않는다
d3 = {1:'이숭무' , 1:'이상범' }
print(d3)
d3 = {1:'이숭무'}
d3[1] = "이상범"
print(d3)

이숭무
3
3
35
이숭무
1
[10, 2, 3, 4]
{'name': '이숭무', 'age': 40, 'height': 175.5}
{'name': '이숭무', 'age': 40, 'height': 175.5, 'addr': '성남'}
{1: '이상범'}

In [118]:
#딕셔너리 함수
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
l = [1,2,3,4]
del l[1]
print(l)
del dic1['age']
print(dic1)
### 딕셔너리에 있는 키만 가져오기
print(dic1.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic1.values())
## 키와 값을 쌍으로 
print(dic1.items())
##########################################
print(l)
### 빈리스트
l.clear()
print(l)
##############
print(dic1)
#### 빈 딕셔너리
dic1.clear()
print(dic1)

[1, 3, 4]
{'name': '이숭무', 'height': 175.5}
dict_keys(['name', 'height'])
dict_values(['이숭무', 175.5])
dict_items([('name', '이숭무'), ('height', 175.5)])
[1, 3, 4]
[]
{'name': '이숭무', 'height': 175.5}
{}

In [121]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['birth'] = '19981118'
#             - 87654321
print(dic)
print(dic['birth'])
## 년, 월 , 일을 따로 출력하세요
print(dic['birth'][0:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])

print(dic['birth'][:-4])
print(dic['birth'][-4:-4+2])
print(dic['birth'][-4:4+2])
print(dic['birth'][-2:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
19981118
1998
11
18
1998
11
11
18

In [130]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(dic['name'])
print(dic.get('name'))

#print(dic['addr'])
print(dic.get('addr'))  # None
print(dic.get('addr','서울'))

dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600, 'money': 100 }
print(dic1['pop']) #정수
print(dic2['pop']) #정수
print(dic1['pop'] + dic2['pop'])
# print(dic1['money'] + dic2['money'])
print(dic1.get('money',0) + dic2.get('money', 0))
print(dic1.get('pop',0) + dic2.get('pop', 0))

pey
pey
None
서울
600
600
1200
100

In [152]:
# 집합(set) :교집합 ,합집합, 차집합
dic = {1:'이', 2:'숭'}
dic = {}
s = {1,2,3,4,5}
t  = tuple([1,2,3,4,5])
print(t)
l  = list((1,2,3,4,5))
print(l)
s = " ".join(['1','2','3','4','5'])
print(s)
s1 = str(10)
print(s1)
s = set([1,2,3,4,5])
print(s)
s = set((1,2,3,4,5))
print(s)
s = {1,2,3,3,3,4,5,5,6}
print(s)
s = set("hello") #집합자료형은 중복값을 허용하지 않는다.
print(s) # 집합에 순서가 없다.

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
1 2 3 4 5
10
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{'h', 'o', 'l', 'e'}

In [138]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#교집합
print(s1 & s2)
print(s1.intersection(s2))
#합집합
print(s1 | s2)
print(s1.union(s2))
#차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [151]:
# 집합 함수
#요소 추가
s1 = {1,2,3,4,5}
s1.add(7)
print(s1)
s1.add(9)
print(s1)
s1.add('a')
print(s1)
#s1에 10,11,12를 추가
#s1.add(10,11,12)
s1.add((10,11,12))
print(s1)
# s1.add([10,11,12])
# s1.update(10,11,12)
s1.update((10,11,12)) 
print(s1)
s1.update([13,14,15])
print(s1)
#  삭제
#s1.remove(10,11,12);
s1.remove((10,11,12))
print(s1)
s1.remove(10)
s1.remove(11) #요소 하나씩만 가능
print(s1)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 'a', 7, 9}
{1, 2, 3, 4, 5, 7, 9, (10, 11, 12), 'a'}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, (10, 11, 12), 'a'}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, (10, 11, 12), 13, 14, 15, 'a'}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15, 'a'}
{1, 2, 3, 4, 5, 7, 9, 12, 13, 14, 15, 'a'}

In [160]:
#리터널 자료형 : 정수, 실수 : +, -, *, /, //, %, **
#               문자열 : + , * : " ",' ',""" """,''' '''
#리스트 자료형 : [] : + , *
#튜플 자료형 : (), (1,) : +, *
#딕셔너리 : {}, {key:value,..., n}
#집합 자료형 : {1,2,3} : & , |, -
#부울 자료형 : True(참), False(거짓) 
i = 1
srt1 = "abc"
b = True
print(b)
b = False
print(b)
# b = true; # name 'true' is not defined
true = True
print(true)
# 부울 자료형 : 논리연산 
print(True and True)
print(True and False)
print(True or True)
print(True or False)

# 비교(관계)연산자 : < , > ,>=, <= , == , != : 결과는 부울타입
mat = 40
eng = 80
#각 과목이 40점이상이고 평균이 60점 이상이면 True 아니면 Fasle
result = mat >= 40 and eng >= 40 and (mat+eng)/2 >= 60
print(result)
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 
### 그렇지만 400년마다는 윤년이다.
year = 2200
result = year % 4 == 0 and year % 100 !=0 or year % 400 == 0
print(result)
if year % 4 == 0 and year % 100 !=0 or year % 400 == 0:
    print("윤년")
else :
    print("평년")
if result:
    print("윤년")
else :
    print("평년")

True
False
True
True
False
True
True
True
False
평년

In [162]:
print(bool('이숭무')) #
print(bool('')) #blank , False
print(bool(-1))
print(bool(1))
print(bool(0)) #False
print(bool(0.0)) #False
print(bool([1,2,3,4]))
print(bool([])) #False
print(bool((1,23)))
print(bool(())) #False
print(bool({1:'a'}))
print(bool({}))#False
print(bool(None)) #False

True
False
True
True
False
False
True
False
True
False
True
False
False

In [164]:
str1 = "hello" # str
i = 10 #int
f = 10.5 # float
l = [1,2,3,4]  #list
t = (1,2,3,4)  # tuple
dic = {1:'이'} # dict
s = {1,2,3,4} # set
b = True # bool
print(type(str1))
print(type(i))
print(type(f))
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [166]:
#파이썬의 변수 선언법
t = 1,2,3,4
print(t)
a = 1
a, b = 1, 2
a, b = (1, 2)
(a, b) = 1, 2
(a, b) = (1, 2)
(a,b,c) = 1,2,3
[a, b] = 1, 2
a, b = [1, 2]
[a, b] = [1, 2]
a, b, c= 1, 2, '이숭무'
print(a,b,c)
# a, b, c= 1, 2 오류

(1, 2, 3, 4)
1 2 이숭무

ValueError: not enough values to unpack (expected 3, got 2)

In [167]:
a = 10; b = 20
# b에 있는 값을 a에주고 a에 있는 값을 b에 주기
print(a, b)
temp = b
b = a
a = temp
print(a, b)
##############
a , b = b, a
print(a, b)

10 20

In [169]:
#제어문 : 조건문 , 반복문
# 조건문
## bool타입을 이용해서 원하는 결과를 가져오는 것
## 조건식은  비교연산식과 논리연산식을 사용
## 조건식의 결과에 따라 실행되거나 안된다.
## 조건식이 True이면 if문 안에 있는 명령어가 실행이 된다.
## if문 안에 있는 명령어는 Tab이나 공백문자를 이용해서 들여쓰기가 되어야한다.
## 하지만 두개 혼용할 수 없다. tab을 많이 사용한다.
## 조건식 뒤에는 :이 와야 한다.
'''
if  조건식:  # True 
    명령어1
    명령어2
    ...
    명령어n
'''
if '이숭무': #True
    print("문자열은 참이기 때문에 실행이된다.")
if '': # False
    print('blank는 거짓이기 때문에 실행이 안된다.')

문자열은 참이기 때문에 실행이된다.

In [173]:
#  단일 if
a = 10
if a < 20: #True
    print("a는 20보다 작다.")#if문 안에 있는 명령문
    
    print("안녕")#if문 안에 있는 명령문
print("if문 끝") # if문 밖에 있는 명령문

if a > 20 : #Fasle
    print("a는 20보다 크다.") #if문 안에 있는 명령문
    
print("if문의 끝") # if문 밖에 있는 명령문

a는 20보다 작다.
안녕
if문 끝
if문의 끝

In [174]:
money = 2000
if money >= 2000: # True
    print("차를타고 가시오")

if money < 2000: # False
    print("걸어가시오")

차를타고 가시오

In [175]:
# if ~ else : 두개 중에 하나를 실행 시키고 싶을 때
money = 3000
if money >= 3000: # True
    print("차를 타고 가시오")
else: #False
    print("걸어가시오.")
    print("걸어가시오.")
    print("걸어가시오.")
'''
if 조건식 : # True
    명령어1
    명령어2
    ...
    명령어n
else:      # False
    명령어11
    명령어12
    ...
    명령어nn
'''

걸어가시오.

In [182]:
money = 2000
if not money >= 2000: # not True ==> false
    print("걸어가시오")
else: # False
    print("차를타고 가시오")

x = 10; y = 20
if  x == y:
    print("x가 y보다 같다")
else :
    print("x가 y보다 같지 않다")

x = 10; y = 20
if x != y:
    print("x가 y보다 같지 않다")
else :
    print("x가 y보다 같다")

차를타고 가시오
x가 y보다 같지 않다
x가 y보다 같지 않다

In [183]:
#in연산자 사용하기
print(1 in [1,2,3])
l = [1,2,3,4,5,6]
print( 4 in l)
print(10 in l)
print(10 not in l)

print( "y" in "python")
print( "yt" in "python")
print( "이" in "python")
print( "이" not in "python")

print(6 in (1,2,3,4,5,6))
print(6 in {1,2,3,4,5,6})

print(1 in {1:'이', 2:'숭'}) #키가 있는지

True

In [ ]:
if 'k' in "python":
    print("k 가 있습니다.")
else:
    print("k가 없습니다.")
    
str1 = "python"
if 'k' in str1:
    print("k 가 있습니다.")
else:
    print("k가 없습니다.")
    
l = [1,2,3,4,5,6]
if 6 in l:
    print("리스트에 6이 있습니다.")
else:
    print("리스트에 6이 없습니다.")
    
if 6 not in l:
    print("리스트에 6이 없습니다.")
else:
    print("리스트에 6이 있습니다.")
    
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("주머니에 돈이 있습니다.")
else:
    print("주머니에 돈이 없습니다.")

In [185]:
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40
print(result)
if (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40:
    print('합격')
else:
    print('불합격')

False
불합격

In [186]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 그렇지 않으면 F
# 조건이 여러개인 경우
score = 78
if score >= 90 :
    print("A")
else:
    if score >= 80:
        print("B")
    else:
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else :
                print("F")

C

In [ ]:
# if ~ elif
score = 78
if score >= 90 :
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else :
    print("F")
# 조건식은 항상 if문 뒤에 와야한다. else문 뒤에는 조건식이 올 수 없다

In [ ]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
score = 78
if score >= 90 :
    if score >= 95:
        print("A+")
    else:
        print("A")
elif score >= 80:
    if score >= 85:
        print("B+")
    else:
        print("B")
elif score >= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score >= 60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else :
    print("F")

In [ ]:
'''
score가 60이상이면 message 변수에 success를 아니면 message 에 failure를 
저장한 후 출력
'''
score = 78
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

message = "success" if score >= 60 else "failure"
print(message)

In [187]:
score = 78
if score >= 90 :
    message = "A"
else:
    if score >= 80:
        message =  "B"
    else:
        if score >= 70:
            message =  "C"
        else:
            if score >= 60:
                message = "D"
            else :
                message = "F"
print(message)
message = "A" if score >= 90 else ( "B" if score >= 80
                             else ( "C" if score >= 70
                             else ( "D" if score >= 60
                             else "F")))
print(message)

C
C

In [188]:
# 사직연산
a = 10; b = 20; opt = "sub"
if opt == 'add':
    result = a + b
elif opt == 'sub':
    result = a - b
elif opt == 'mul':
    result = a * b
else:
    result = a / b
print(result)

-10

In [190]:
if opt == 'add':
    result = a + b
else:
    if opt == 'sub':
        result = a - b
    else:
        if opt == 'mul':
            result = a * b
        else:
            result = a / b
print(result)

-10

In [189]:
result = a + b if opt == 'add' else( a - b if opt == 'sub'
                               else( a * b if opt == 'mul'
                               else a / b))
print(result)

-10

In [ ]:
# 반복문
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무가 넘어갑니다.")

In [191]:
start = 1
while start <= 10:
    print(f"나무를 {start}번 찍었습니다.")
    start += 1 # start = start + 1
print("나무가 넘어갑니다.")             
###명령어가 반복이 될 때 명령문 하나를 이용해서 여러번 실행이 될 수 있게

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [195]:
'''
8단 출력
8  * 1 = 8 * 1
8  * 2 = 8 * 2
8  * 3 = 8 * 3
8  * 4 = 8 * 4
8  * 5 = 8 * 5
8  * 6 = 8 * 6
8  * 7 = 8 * 7
8  * 8 = 8 * 8
8  * 9 = 8 * 9
'''
start = 1
while start <= 9:
    print(f"8  * {start} = {8 * start}")
    start += 1

8  * 1 = (8 * 1)
8  * 2 = (8 * 2)
8  * 3 = (8 * 3)
8  * 4 = (8 * 4)
8  * 5 = (8 * 5)
8  * 6 = (8 * 6)
8  * 7 = (8 * 7)
8  * 8 = (8 * 8)
8  * 9 = (8 * 9)