In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 25pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 25pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_4936\627556072.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
'''
5  * 1 = 5    # 5 * 1 = (5 * 1)
5  * 2 = 10   # 5 * 2 = (5 * 2)
5  * 3 = 15   # 5 * 3 = (5 * 3)
5  * 4 = 20   # 5 * 4 = (5 * 4)
5  * 5 = 25   # 5 * 5 = (5 * 5)
5  * 6 = 30   # 5 * 6 = (5 * 6)
5  * 7 = 35   # 5 * 7 = (5 * 7)
5  * 8 = 40   # 5 * 8 = (5 * 8)
5  * 9 = 45   # 5 * 9 = (5 * 9)
'''
start = 1
while start <= 9:
    print(f"5  * {start} = {5 * start}")
    start += 1 # start = start + 1

5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45

In [7]:
# 4단 
dan = int(input("단을 입력시켜주세요. : ")) # 문자를 숫자로 형변환
start = 1
while start <= 9:
    print(f"{dan} * {start} = {dan * start}")
    start += 1

단을 입력시켜주세요. : 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [15]:
# 7단
dan = int(input("단을 입력하세요. "))
startGop =  int(input("시작곱을 입력 : "));
endgop =  int(input(" 마지막 곱을 입력 : "))
start = startGop
while start <= endgop:
    print(f"{dan} * {start} = {dan * start}")
    start += 1

단을 입력하세요. 4
시작곱을 입력 : 5
 마지막 곱을 입력 : 6
4 * 5 = 20
4 * 6 = 24

In [20]:
# 로또
l = [1,2,3,4,5,6,7,8,9]
#    0 1 2 3 4 5 6 7 8
print(len(l))
print(l)
result = l.pop(3) # pop를 하면 리스트의 크기가 1씩 준다.
print(len(l))
print(result) # 4
print(l)
# [1, 2, 3, 5, 6, 7, 8, 9]
#  0  1  2  3  4  5  6  7
result = l.pop(3)
print(result)
print(len(l))
print(l) # [1, 2, 3, 6, 7, 8, 9]

9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
8
4
[1, 2, 3, 5, 6, 7, 8, 9]
5
7
[1, 2, 3, 6, 7, 8, 9]

In [46]:
import random
idx = random.randint(0,8)
print(idx)
l = [1,2,3,4,5,6,7,8,9]
#    0 1 2 3 4 5 6 7 8
idx = random.randint(0,8)
print(idx)
print(l[idx])

5
3
4

In [54]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
print(lotto)

size = len(lotto) # 45

y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0,size)
    lottoNum = lotto.pop(idx);
    print(lottoNum, end=", ")
    y += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
4, 38, 7, 17, 42, 41,

In [56]:
#3단
start = 1
while start <= 9:
    print(f"3 * {start} = {3 * start}")
    start += 1

#4단
start = 1
while start <= 9:
    print(f"4 * {start} = {4 * start}")
    start += 1

#5단
start = 1
while start <= 9:
    print(f"5 * {start} = {5 * start}")
    start += 1
# 6
start = 1
while start <= 9:
    print(f"6 * {start} = {6 * start}")
    start += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [57]:
# 2중 반복문
dan = 3
while dan <= 6:
    start = 1
    while start <= 9:
        print(f"{dan} * {start} = {dan * start}")
        start += 1    
    dan += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [62]:
# 2중 반복문
startDan = int(input("시작 단을 입력 : "))
endDan = int(input(" 마지막 단을 입력 : "))

startGop = int(input("시작 곱 : "))
endGop = int(input("마지막 곱 : "))

dan = startDan
while dan <= endDan:
    start = startGop
    while start <= endGop:
        #print(f"{dan} * {start} = {dan * start}")
        #print("%d * %d = %d" % (dan , start , dan * start))
        print("{0} * {1} = {2}".format(dan, start, dan * start))
        start += 1    
    dan += 1

시작 단을 입력 : 2
 마지막 단을 입력 : 3
시작 곱 : 4
마지막 곱 : 5
2 * 4 = 8
2 * 5 = 10
3 * 4 = 12
3 * 5 = 15

In [80]:
import random
lotto = []
qty = int(input("구매수량을 입력하세요. : "))
cnt = 1
while cnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i)
        i+=1

    size = len(lotto) # 45

    y = 1
    while y <= 6:
        size -= 1
        idx = random.randint(0,size)
        lottoNum = lotto.pop(idx);
        print(lottoNum, end=", ")
        y += 1
    print()
    lotto.clear()
    cnt += 1

구매수량을 입력하세요. : 6
27, 1, 31, 10, 34, 7,
3, 44, 27, 1, 12, 30,
41, 6, 45, 29, 15, 42,
45, 7, 33, 18, 5, 35,
28, 10, 14, 6, 3, 44,
1, 18, 16, 21, 15, 17,

In [81]:
### 1 ~ 100까지의 합을 구하시오.
'''
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
...
sum = sum + 100
'''
sum = 0
i = 1
while i <= 100:
    sum = sum + i
    i += 1
print(sum)

5050

In [86]:
### 1 ~ 100까지의 짝수의 합을 구하시오.
sum = 0
i = 0
while i <= 99:
    i += 1
    if i % 2 != 0:
        continue
    sum = sum + i
print(sum)

sum = 0
i = 0
while i <= 99:
    i += 1
    if i % 2 == 0:
        sum = sum + i
print(sum)

sum = 0
i = 1
while i <= 100:
    if i % 2 == 0:
        sum = sum + i
    i += 1
print(sum)

2550
2550
2550

In [85]:
### 1 ~ 100까지의 홀수의 합을 구하시오.
sum = 0
i = 0
while i <= 99:
    i += 1
    if i % 2 == 0:
        continue
    sum = sum + i
print(sum)

print("===" * 30)

sum = 0
i = 1
while i <= 100:
    if i % 2 != 0:
        sum = sum + i
    i += 1
print(sum)

print("===" * 30)

sum = 0
i = 0
while i <= 99:
    i += 1
    if i % 2 != 0:
        sum = sum + i
print(sum)

print("===" * 30)
sum = 0
i = 1
while i <= 100:
    if i % 2 != 0:
        i += 1
        continue
    sum = sum + i
    i += 1
print(sum)

2500
========================================================================================================================
2500
==========================================================================================
2500
==========================================================================================
2550

In [88]:
### 1 ~ 100까지의 합 중 홀수만 구하시오.  while문에 True를 이용
i = 0
sum = 0
while True:
    i += 1
    if i > 100:
        print("반복 종료")
        break
    if i % 2 == 0:
        continue
    sum += i
print(sum)

반복 종료
2500

In [92]:
# 리스트에 있는 합을 구하시오
l = [34,76,99,45,78,89]
#     0  1  2 3   4  5
sum = 0
sum = sum + l[0]
sum = sum + l[1]
sum = sum + l[2]
sum = sum + l[3]
sum = sum + l[4]
sum = sum + l[5]
print(sum)

sum = 0
idx = 0
size = len(l) # 6
while idx < size :
    sum = sum + l[idx]
    idx += 1
print(sum)

print("==" * 30)
sum = 0
# for each
for num in l: 
    sum += num # sum = sum +l[idx] ; idx += 1
print(sum)

421
421
============================================================
421

In [93]:
t = (111,333,45,666,535)
sum = 0
for num in t:
    sum += num
print(sum)

sum = 0
idx = 0
while idx < len(t):
    sum += t[idx]
    idx += 1
print(sum)

1690
1690

In [95]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while i <= 100:
    sum += i
    i += 1
print(sum)

### for each
sum = 0
for i in range(1, 1 + 100): # range(1, 1 + 100) : [1,2,3,4,5,...,100]
    sum += i
print(sum)

5050
5050

In [97]:
# 1~100까지의 합중 홀수만 더하시오.
i = 0
sum = 0
while i < 100:
    i += 1
    if i % 2 == 0:
        continue
    sum += i
print(sum)
print("==" * 30)

sum = 0
for i in range(1, 101):
    if i % 2 == 0:
        continue
    sum += i
print(sum)

2500
============================================================
2500

In [ ]:
### 1 ~ 100까지의 합 구하시오.  while문에 True를 이용
i = 1
sum = 0
while True:    # 무한루프인 경우
    if i > 100:
        break;
    sum += 1
    i += 1
print(sum)
sum = 0
for i in range(1, 10000): # 범위, 리스트, 튜플
    if i > 100:
        break
    sum += i
print(sum)

In [100]:
# 5단
start = 1
while start <= 9:
    print(f"5 * {start} = {5 * start}")
    start += 1

for start in range(1, 10):
    print(f"5 * {start} = {5 * start}")

for start in range(1, 10):
    print(f"6 * {start} = {6 * start}")
    
for start in range(1, 10):
    print(f"7 * {start} = {7 * start}")

for dan in range(5, 8):
    for start in range(1, 10):
        print(f"{dan} * {start} = {dan * start}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [105]:
startDan = int(input("시작 단을 입력 : "))
endDan = int(input("마지막 단을 입력 : "))
startGop = int(input("시작 곱을 입력 : "))
endGop = int(input("마지막 곱을 입력 : "))
for dan in range(startDan, endDan + 1):
    for start in range(startGop, endGop + 1):
        print(f"{dan} * {start} = {dan * start}")

시작 단을 입력 : 3
마지막 단을 입력 : 4
시작 곱을 입력 : 5
마지막 곱을 입력 : 6
3 * 5 = 15
3 * 6 = 18
4 * 5 = 20
4 * 6 = 24

In [ ]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
print(lotto)

size = len(lotto) # 45

y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0,size)
    lottoNum = lotto.pop(idx);
    print(lottoNum, end=", ")
    y += 1

In [184]:
import random
lotto = []
for i in range(1, 45 + 1):
    lotto.append(i)

size = len(lotto)

for num in range(0, 6):  # range(0, 6) ==> 0,1,2,3,4,5
    size -= 1
    idx = random.randint(0,size)
    lottoNum = lotto.pop(idx);
    print(lottoNum, end=", ")

22, 44, 30, 26, 40, 12,

In [135]:
import random
#lotto = []
qty = int(input("구매 수량을 입력 : ")) # 5
for num in range(qty): #  range(0, 5) ==> 0,1,2,3,4
    #for i in range(1, 45 + 1):
    #    lotto.append(i)
    lotto = [i for i in range(1, 45 + 1)]
    size = len(lotto)

    for num in range(0, 6):  # range(0, 6) ==> 0,1,2,3,4,5
        size -= 1
        idx = random.randint(0,size)
        lottoNum = lotto.pop(idx);
        print(lottoNum, end=", ")
    #lotto.clear
    print()

구매 수량을 입력 : 5
16, 8, 19, 6, 42, 44,
20, 18, 44, 19, 22, 4,
33, 14, 11, 18, 43, 4,
8, 35, 41, 38, 15, 19,
32, 13, 45, 9, 34, 22,

In [114]:
l1 = [(1,2),(3,4),(5,6)]
for i in l1:
    print(i)
    
for i, j in l1: # a , b = (1 , 2)
    print(i, j)
    print(i + j)
    
for (i, j) in l1: # (a , b) = (1 , 2)
    print(i, j)
    print(i + j)

(1, 2)
(3, 4)
(5, 6)
1 2
3
3 4
7
5 6
11

In [119]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
for i in l1:
    print(i)

for i,j, k in l1:
    print(i, j, k)
    
for (i,j, k) in l1:
    print(i, j, k) 
    
for [i,j, k] in l1:
    print(i, j, k)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1 2 3
4 5 6
7 8 9
1 2 3
4 5 6
7 8 9
1 2 3
4 5 6
7 8 9

In [121]:
l1 = [[1,2,3],[4,5],[6,7,8,9]]
for i in l1:
    print(i)
for i,j,k,l in l1: #  요소의 크기가 같아야 한다.
    print(i,j,k,l)

[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

ValueError: not enough values to unpack (expected 4, got 3)

In [126]:
# 리스트를 포함한 반복문
l = []
for num in range(1, 10):
    l.append(num)
print(l)

l = [num for num in range(1, 10) ]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
t = (1,2,3,4)
l = [] 
for num in t:
    l.append(num * 3)
print(l)

l = [num * 3 for num in t]
print(l)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [133]:
#튜플에 있는 값 중 짝수만 3을 곱한 값을 리스트에 저장
t = (1,2,3,4,5,6)
l = []
for num in t:
    if num % 2 == 0:
        l.append(num * 3)
    
l = [num * 3 for num in t  if num % 2 == 0]
print(l)

# 3단 5단까지의 값을 리스트에 저장
l = []
for dan in range(3,6):
    for gop in range(1, 10):
        l.append(dan * gop)
print(l)

l = [dan * gop for dan in range(3,6) 
               for gop in range(1, 10)]
print(l)


# 3단 5단까지의 값중 곱이 짝인 값만 리스트에 저장
l = []
for dan in range(3, 5):
    for gop in range(1, 10):
        if gop % 2 == 0:
            l.append(dan * gop)
print(l)

l = [dan * gop for dan in range(3, 5) 
               for gop in range(1, 10) if gop % 2 == 0]
print(l)

[6, 12, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[6, 12, 18, 24, 8, 16, 24, 32]
[6, 12, 18, 24, 8, 16, 24, 32]

In [ ]:
#제어문 : 조건문 if , 반복문 while, for each

In [143]:
# 함수(function) : x 값에 따라 y값이 변화하도록 만들어주는 것
'''
func(x) = 2x + 3일 때 
y = func(4)라면 y는 얼마입니까? y = 11
y = func(5)라면 y는 얼마입니까? y = 13
'''
def func(x): # x:parameter
    return 2 * x + 3

In [144]:
y = func(4)  # 4 : argument
print(y)
y = func(5)  # 5 : argument
print(y)

11
13

In [146]:
'''
f(x1 , x2) = 3x1 + 2x2 + 5일때
y = f(3, 5)라면 y 값은?
'''
def f(x1 , x2, x3): # x1, x2 : 매개변수, 가인자 : parameter
    return 3 * x1 + 2 * x2 + 5

In [147]:
y = f(3, 5 , 6)   # 3, 5 : 인자 , 실안자 : argument
print(y)
# argument는 parameter에 전달된다. 
# 그러므로 argument와 parameter의 갯수는 같아야 한다.
# argument와 parameter는 1대 1 대응한다.
'''

# 피 호출함수 : 함수정의
def function명(parameter1,parameter2,parameter3,...,parameter_n):
    명령문1
    명령문2
    ....
    결과값 = 명령문_n
    return  결과값  


#       호출함수
변수 =  function명(argument1,argument2,argument3,...,argument_n)
print(변수)
...

24

In [149]:
def sum(x1 , x2): # 피호출함수
    return x1 + x2

In [152]:
y = sum(3, 5) # 호출함수
print(y)
y = sum(5, 8)
print(y)

8
13

In [153]:
# 3단 
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [154]:
def gug3():
    for gop in range(1, 10):
        print(f"3 * {gop} = {3 * gop}")

In [ ]:
gug3()
gug3()
gug3()
gug3()
gug3()

In [159]:
dan = 5
for gop in range(1, 10):
    print(f"{dan} * {gop} = {dan * gop}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [163]:
def guguDan(dan):
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [162]:
guguDan(4)
guguDan(7)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [164]:
# 함수의 유형 : 4가지 유형
# 1. 입력값(parameter)이 있고 출력값(return)도 있는 경우
def add(x1 , x2):
    result = x1 + x2
    return result

In [165]:
y = add(3, 5)
print(y)

8

In [166]:
# 2. 입력값은 없고 출력값만 있는 경우
def add():
    x1 = int(input("수를 입력해주세요. : "))
    x2 = int(input("수를 입력해주세요 . : "))
    result = x1 + x2
    return result

In [169]:
y = add()
print(y)

수를 입력해주세요. : 4
수를 입력해주세요 . : 5
9

In [170]:
# 3. 입력값은 있고 출력값이 없는 경우
def add(x1 , x2):
    result = x1 + x2
    print(result)

In [172]:
add(4, 5)
add(10, 20)

9
30

In [173]:
# 4. 입력값이 없고 출력값도 없는 경우
def add():
    x1 = int(input("수를 압력하세요. : "))
    x2 = int(input("수를 입력하세요. : "))
    result = x1 + x2
    print(result)

In [174]:
add()

수를 압력하세요. : 10
수를 입력하세요. : 20
30

In [176]:
def lottoPro():    
    #lotto = []
    qty = int(input("구매 수량을 입력 : ")) # 5
    for num in range(qty): #  range(0, 5) ==> 0,1,2,3,4
        #for i in range(1, 45 + 1):
        #    lotto.append(i)
        lotto = [i for i in range(1, 45 + 1)]
        size = len(lotto)

        for num in range(0, 6):  # range(0, 6) ==> 0,1,2,3,4,5
            size -= 1
            idx = random.randint(0,size)
            lottoNum = lotto.pop(idx);
            print(lottoNum, end=", ")
        #lotto.clear
        print()

In [177]:
lottoPro()

구매 수량을 입력 : 4
24, 36, 37, 25, 19, 41,
36, 11, 10, 22, 14, 7,
36, 19, 2, 1, 4, 15,
22, 15, 43, 42, 1, 5,

In [178]:
lottoPro()

구매 수량을 입력 : 5
28, 39, 12, 16, 42, 37,
40, 17, 13, 3, 19, 8,
40, 9, 29, 41, 1, 13,
34, 43, 19, 33, 1, 42,
27, 1, 8, 18, 13, 4,

In [179]:
def lottoPro(qty):    
    #lotto = []
    for num in range(qty): #  range(0, 5) ==> 0,1,2,3,4
        #for i in range(1, 45 + 1):
        #    lotto.append(i)
        lotto = [i for i in range(1, 45 + 1)]
        size = len(lotto)

        for num in range(0, 6):  # range(0, 6) ==> 0,1,2,3,4,5
            size -= 1
            idx = random.randint(0,size)
            lottoNum = lotto.pop(idx);
            print(lottoNum, end=", ")
        #lotto.clear
        print()

In [180]:
qty = int(input("구매 수량을 입력 : ")) # 5
lottoPro(qty)

구매 수량을 입력 : 4
9, 39, 32, 22, 14, 38,
27, 32, 25, 39, 3, 26,
39, 32, 22, 18, 15, 40,
40, 14, 11, 42, 39, 27,

In [181]:
lottoPro(5)

22, 36, 18, 27, 39, 3,
27, 34, 11, 35, 2, 33,
26, 2, 22, 33, 1, 35,
6, 42, 33, 41, 23, 4,
31, 39, 35, 34, 27, 19,

In [185]:
def lottoFunc():
    lotto = []
    for i in range(1, 45 + 1):
        lotto.append(i)

    size = len(lotto)

    for num in range(0, 6):  # range(0, 6) ==> 0,1,2,3,4,5
        size -= 1
        idx = random.randint(0,size)
        lottoNum = lotto.pop(idx);
        print(lottoNum, end=", ")

In [189]:
qty = int(input("구매수량을 입력하세요 . : "))
for i in range(qty):
    lottoFunc()
    print()

구매수량을 입력하세요 . : 5
16, 5, 14, 39, 38, 42,
19, 37, 24, 16, 32, 41,
16, 39, 30, 15, 35, 18,
26, 3, 40, 20, 35, 5,
33, 45, 3, 8, 1, 18,

In [190]:
def lottoFun():
    qty = int(input("구매수량을 입력하세요 . : "))
    for i in range(qty):
        lottoFunc()
        print()

In [191]:
lottoFun()

구매수량을 입력하세요 . : 4
31, 1, 28, 24, 6, 5,
18, 30, 38, 29, 44, 6,
26, 25, 45, 42, 12, 29,
29, 1, 33, 26, 9, 16,

In [192]:
# 1 ~ 100까지의 합을 구하시오.
sum = 0
for num in range(1, 100 + 1):
    sum += num
print(sum)

5050

In [193]:
def sum1():
    sum = 0
    for num in range(1, 100 + 1):
        sum += num
    print(sum)

In [196]:
sum1()
sum1()

5050
5050

In [197]:
def sum1(start, end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
    print(sum)

In [199]:
sum1(1, 100)
sum1(10, 1000)

5050
500455

In [202]:
def sum1(start, end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
    return sum

In [205]:
y = sum1(1, 100)
print(y)
y = sum1(10, 100)
print(y)

5050
5005

In [211]:
# parameter이름을 이용해서 값을 전달
y = sum1(end=100, start=10)
print(y)
y = sum1(start = 1, end= 100)
print(y)
y = sum1(1, end=100)
print(y)

5005
5050
5050

In [212]:
def sum12(a,b,c,d):
    print(a+b+c+d)

In [215]:
sum12(1,2,3,4)
sum12(c=10, a=5, d=7, b=3)
sum12(10, 20, d= 10, c= 2)

10
25
42

In [218]:
def sum11(* para):
    print(para)
    result = 0
    for i in para:
        result += i
    print(result)

In [220]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5)

t = (1,2,3,4,5)
print(t)
t = 1,2,3,4,5
print(t)

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5)
15
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [224]:
def sum13(* para):
    print(para)
    result = 1
    if para[0] == 'add':
        for idx in range(1, len(para)):
            result += para[idx]
    elif para[0] == 'mul':
        for idx in range(1, len(para)):
            result *= para[idx]
    elif para[0] == 'sub':
        for idx in range(1, len(para)):
            result *= para[idx]
    print(result)

In [225]:
sum13("add",1,2)
sum13("mul",1,2,3)
sum13("sub",1,2,3,4,5)

('add', 1, 2)
4
('mul', 1, 2, 3)
6
('sub', 1, 2, 3, 4, 5)
120

In [232]:
def sum13(opt, * para):
    print(para)
    result = 1
    if opt == 'add':
        result = 0
        for num in para:
            result += num
    elif opt == 'mul':
        for num in para:
            result *= num
    elif opt == 'sub':
        result = 0
        for num in para:
            result -= num
    print(result)

In [233]:
sum13("add",1,2)
sum13("mul",1,2,3)
sum13("sub",1,2,3,4,5)

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5)
-15

In [234]:
def add_mul(x, y):
    i = x + y 
    j = x * y 
    return i, j

# 함수의 기본 : 결과값은 오직 하나이어야 한다.

In [236]:
y = add_mul(2, 3)
print(y)

y , z= add_mul(3, 5)
print(y, z)

(5, 6)
8 15

In [240]:
def add_mul(x, y):
    i = x + y 
    j = x * y 
    return i   # retrun은  함수를 종료한다.
    return j

In [241]:
y = add_mul(3, 5)
print(y)

None

In [242]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [246]:
say_myself('이숭무', 34, True)
say_myself(man = True, name= '이숭무', old =5)

나의 이름은 이숭무입니다
나의 나이는 34입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 5입니다.
남자입니다.

In [247]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [250]:
say_myself('이숭무', 35)
say_myself('박준현', 55, False)
say_myself('이숭무', 35, True)

나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.
나의 이름은 박준현입니다
나의 나이는 55입니다.
여자입니다.
나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.

In [251]:
def say_myself(name, old = 35, man=True):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [255]:
say_myself('이숭무')
say_myself('이숭무', man = False)
say_myself('이숭무', False)
say_myself('이숭무', 50)

나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 35입니다.
여자입니다.
나의 이름은 이숭무입니다
나의 나이는 0입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 50입니다.
남자입니다.

In [256]:
'''
def say_myself(name, old = 35, man):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
'''

SyntaxError: non-default argument follows default argument (1424017197.py, line 1)

In [257]:
### lambda함수
def add(a, b):
    return a+ b;

In [259]:
result = add(3, 4)
print(result)

7

In [260]:
add = lambda a, b : a+ b

In [261]:
result = add(3, 4)
print(result)

7

In [264]:
def add(a, b):
    print(a + b)
add(3, 4)

In [266]:
add = lambda a, b : print(a + b)
add(3, 4)

7

In [276]:
def calu(opt , a, b):
    if opt == "add":
        return a + b
    else:
        return a - b

In [274]:
calu = lambda opt , a, b : a + b if opt == "add" else a - b

In [275]:
result = calu("add", 4, 6)
print(result)

10

In [277]:
calu = lambda opt,a,b: print(a+b) if opt == "add" else print("덧샘만가능")
calu("sub",4,5)

덧샘만가능

In [ ]:
opt = 'mul'; a = 10; b = 20 
if opt == 'add':
    result = a + b
else:
    if opt == 'sub':
        result = a - b
    else:
        if opt == 'mul':
            result = a * b
        else:
            result = a / b

In [278]:
opt = 'mul'; a = 10; b = 20 
result = a + b if opt == 'add' else ( 
         a - b if opt == 'sub' else ( 
         a * b if opt == 'mul' else a / b ))
print(result)

200

In [ ]:
def calc(opt, a, b):
    if opt == 'add':
        return a + b
    else:
        if opt == 'sub':
            return a - b
        else:
            if opt == 'mul':
                return a * b
            else:
                return  a / b

In [279]:
calc = lambda opt, a, b : a + b if opt == 'add' else (
                          a - b if opt == 'sub' else (
                          a * b if opt == 'mul' else 
                          a / b ))

In [281]:
result = calc("add", 4, 6)
print(result)

10

In [ ]:
def add(a, b=4):
    return a + b

In [282]:
add = lambda a, b=4 : a + b

In [283]:
result = add(3, 4)
print(result)

7

In [289]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에서만 사용가능한 변수
b = 1 # 전역변수
def test3():
    b = 100 # 지역변수
    c = 1000 # 지역변수
    print("함수안에 있는 :" + str(b))
    print("함수안에 있는 :" + str(c))

In [290]:
test3()
print(b)

함수안에 있는 :100
함수안에 있는 :1000
1

In [291]:
b = 1 # 전역변수
def test3():
    global b
    b = 100 # 전역변수
    c = 1000 # 지역변수
    print("함수안에 있는 :" + str(b))
    print("함수안에 있는 :" + str(c))

In [297]:
test3()
print(b)
# print(c) # 지역변수는 함수 밖에서는 사용할 수 없다.

함수안에 있는 :100
함수안에 있는 :1000
100

In [303]:
## 파일 입출력
## 데이터를 파일에 저장하거나 파일에 있는 내용을 가지고 오는 것
## 파일에 데이터 저장
#f = open("C:\Users\soldesk\Desktop\파이썬\python\data.txt","w",encoding='UTF-8' )
#open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
f = open("data.txt", "w", encoding='UTF-8')
f.write("1번째줄입니다. \n")
f.write("2번째줄입니다. \n")
f.write("3번째줄입니다. \n")
f.write("4번째줄입니다. \n")
f.write("5번째줄입니다. \n")
f.close()

In [304]:
f = open("data.txt", "w",encoding='UTF-8' ) 
f.write("6번째줄입니다. \n")
f.write("7번째줄입니다. \n")
f.write("8번째줄입니다. \n")
f.write("9번째줄입니다. \n")
f.write("10번째줄입니다. \n")
f.close()

In [305]:
f = open("data.txt", "w",encoding='UTF-8' ) 
for i in range(1, 11):
    f.write(f"{i}번째줄입니다. \n")
f.close()

In [306]:
f = open("data.txt", "a",encoding='UTF-8' ) 
for i in range(11, 21):
    f.write(f"{i}번째줄입니다. \n")
f.close()

In [309]:
f = open("data.txt", "r",encoding='UTF-8' ) 
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

1번째줄입니다.

2번째줄입니다.

3번째줄입니다.

4번째줄입니다.

5번째줄입니다.

In [311]:
f = open("data.txt", "r",encoding='UTF-8' ) 
while True:
    line = f.readline()
    if not line:
        break
    print(line,end="")
f.close()

1번째줄입니다.
2번째줄입니다.
3번째줄입니다.
4번째줄입니다.
5번째줄입니다.
6번째줄입니다.
7번째줄입니다.
8번째줄입니다.
9번째줄입니다.
10번째줄입니다.
11번째줄입니다.
12번째줄입니다.
13번째줄입니다.
14번째줄입니다.
15번째줄입니다.
16번째줄입니다.
17번째줄입니다.
18번째줄입니다.
19번째줄입니다.
20번째줄입니다.

In [ ]:
f = open("data.txt", "r",encoding='UTF-8' ) 
lines = f.readlines()
f.close()
print(lines)

print("".join(lines))

for line in lines:
    print(line, end="")

In [ ]:
f = open("data.txt","r", encoding = "utf-8")
data = f.read()
f.close()
print(data)

In [320]:
with open("data.txt","w", encoding = "utf-8") as f:
    f.write("1번째입니다. \n")
    f.write("2번째입니다. \n")
    f.write("3번째입니다. \n")
    f.write("4번째입니다. \n")
    f.write("5번째입니다. \n")

In [321]:
with open("data.txt","w", encoding = "utf-8") as f:
    for i in range(1, 11):
        f.write(f"{i}번째입니다. \n")

In [322]:
with open("data.txt","a", encoding = "utf-8") as f:
    f.write("11번째입니다. \n")
    f.write("12번째입니다. \n")
    f.write("13번째입니다. \n")
    f.write("14번째입니다. \n")
    f.write("15번째입니다. \n")

In [323]:
with open("data.txt","a", encoding = "utf-8") as f:
    for i in range(15,21):
        f.write(f"{i}번째입니다. \n")

In [ ]:
with open("data.txt","r", encoding = "utf-8") as f:
    data = f.read()
print(data)

In [ ]:
# class : 변수, 함수를 하나로 묶어서 반복적으로 사용
result = 1 #전역변수
def f(x):  # 함수
    global reulst 
    result += x

In [332]:
class TestF:
    result = 1 # 멤버 변수
    def f(self, x): # 메서드
        self.result += x
# 클래스안에 있는 메서드는 멤버변수를 사용하기 위해서 만든 것이다.

In [334]:
a = 1
print(a)
a = "이숭무"
print(a)
a = TestF() # result, f()
print(a.result)
a.f(10)
print(a.result)

1
이숭무
1
11

In [337]:
a = TestF() # result, f()
b = TestF() # result , f()

In [338]:
a.result = 10
print(a.result)
print(b.result)

10
1

In [339]:
c = TestF()

In [341]:
b.result = 100
print(b.result)
print(a.result)
print(c.result)

100
10
1

In [ ]:
####  class 구성요소 : 변수(맴버필드) , 메서드 
class Calculator:
    num1 = 0 # 멤버필드 :멤버필드임을 나타내기 위해 멤버필드앞에 self를 적어준다.
    num2 = 0
    def add(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = self.num1 + self.num2
    def sub(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = self.num1 - self.num2

In [342]:
class Calculator:
    # 파이썬에서는 멤버필드를 생략할 수 있다.
    # self를 가진 변수가 암시적으로 멤버필드가 된다.
    # 멤버필드를 사용하기 위해서는 멤버필드가 초기화되어야 한다.
    def add(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = self.num1 + self.num2
    def sub(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = self.num1 - self.num2

In [345]:
a = Calculator()
a.add(10,20)
print(a.result)
print(a.num1)
print(a.num2)

30
10
20

In [351]:
class Calculator:
    def setData(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        self.result = self.num1 + self.num2
    def sub(self):
        self.result = self.num1 - self.num2

In [353]:
a = Calculator()
a.setData(10, 20)
print(a.num1)
print(a.num2)
a.add()
print(a.result)
y = a.result
print(y)

10
20
30
30